* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

nav {
  height: 50px;
  background-color: black;
  display: flex; }
  nav a {
    color: white;
    text-decoration: none;
    margin: auto; }

footer {
  background-color: lightgrey;
  height: 50px;
  display: flex;
  margin: auto; }
  footer p {
    margin: auto; }
