.home{
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.wcards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 16px;
    border-bottom: 3px solid black;

    h1{
        font-family: 'Fira Sans', sans-serif;
        width: 200px;
        border-bottom: 3px solid black;
    }
}

.card{
    display: flex;
    justify-content: space-between;
}

.weatherCard{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background: linear-gradient(to top, red, orange);
    width: 250px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    color: white;

    .city{
        font-size: 1.6rem;
    }

    .country{
        font-size: 1.2rem;
    }

    img{
        width: 45%;
        margin: auto;
    }

    .temp{
        font-size: 1.6rem;
    }

    .condition{
        font-size: 1.2rem;
    }
}

.sportsWrap{
    display: flex;
    flex-direction: column;

    h1{
        font-family: 'Fira Sans', sans-serif;
        width: 200px;
        border-bottom: 3px solid black;
    }

    .sportsCard{
        display:flex;
    }
}

.sportsArt{
    font-family: 'Fira Sans', sans-serif;
    width: 300px;
    border-bottom: 3px solid black;
    margin:30px;

    h4{
        margin-bottom: 6px;
    }
    img{
        width:250px;
    }
}

.econArt{
    
    font-family: 'Fira Sans', sans-serif;
    margin: 40px auto;
    width: 600px;
    border-bottom: 3px solid black;



    h4{
        margin-bottom: 6px;
    }
    img{
        width: 600px;
    }
}

.articles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
        h1{
        font-family: 'Fira Sans', sans-serif;
        width: 300px;
        border-bottom: 3px solid black;
        margin-left: 150px;
    }
    .artCard{
        display: flex;
    }
}