<div class="techContain">
<div class="techArt">
    <h4>The 5 Hottest Technologies coming in 2021</h4>
    <img src="./assets/images/tech.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="techArt">
    <h4>The 5 Hottest Technologies coming in 2021</h4>
    <img src="./assets/images/tech.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="techArt">
    <h4>The 5 Hottest Technologies coming in 2021</h4>
    <img src="./assets/images/tech.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="techArt">
    <h4>The 5 Hottest Technologies coming in 2021</h4>
    <img src="./assets/images/tech.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
</div>