.container{
    background-color: burlywood;
    display: flex;
    width: 980px;
    height: 100%;
    flex-direction: column;
    margin: 50px  auto;
    
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    img{
        width: 980px;
    }
}