<div class="sportsContain">

<div class="sportsArt">
    <h4>Philip Rivers to Join Colts</h4>
    <img src="assets/images/philiobobby.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Patriots On All Time Losing Streak</h4>
    <img src="assets/images/losers.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Titans VS Dolphins Final</h4>
    <img src="assets/images/tennessee-titans.jpeg" alt="philip rivers" />

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Pacers have a bi-week</h4>
    <img src="assets/images/pacers.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Peyton Manning's Commercials</h4>
    <img src="assets/images/payton.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Danica Patrick's New Record</h4>
    <img src="assets/images/dan.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>
<div class="sportsArt">
    <h4>Lucas Oil Raceway Pro Stock Racing</h4>
    <img src="assets/images/lucas.jpg" alt="philip rivers" />
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
</div>

</div>