<div class="home">
    <div class="wcards">
    <h1>Weather</h1>
    <div class="card">
    <div class="weatherCard">
        <div class="city">Brisbon</div>
        <div class="country">AU</div>
        <img src="./assets/images/04d@2x.png" alt="weatherIcon">
        <div class="temp">30<span>°C</span></div>
        <div class="condition">cloudy</div>
    </div>
    <div class="weatherCard">
        <div class="city">Sydney</div>
        <div class="country">AU</div>
        <img src="./assets/images/01d@2x.png" alt="weatherIcon">
        <div class="temp">12<span>°C</span></div>
        <div class="condition">sunny</div>
    </div>
</div>
    </div>

    <div class="sportsWrap">
    <h1>Sports</h1>
    <div class="sportsCard">
    <div class="sportsArt">
        <h4>Philip Rivers to Join Colts</h4>
        <img src="./assets/images/philiobobby.jpg" alt="philip rivers" />
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
    </div>
    <div class="sportsArt">
        <h4>Danica's new car</h4>
        <img src="./assets/images/dan.jpg" alt="philip rivers" />
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quibusdam aut minus quidem </p>
    </div>
</div>
</div>

</div>  
    
<div class="articles">
<h1>Other Articles</h1> 
<div class="artCard">
<div class="econArt">
        <h4>DOW Jones Heavy Hitters For November</h4>
        <img src="./assets/images/stcks.jpg" alt="stock image" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
    </div>
    <div class="econArt">
        <h4>Crypto Hits All Time High</h4>
        <img src="./assets/images/stcks.jpg" alt="stock image" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
    </div>
</div>
</div>   