<div class="main-carousel">
    <div class="carousel-cell">
        <h4>Stocks on the rise</h4>
        <img src="../assets/images/stcks.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <h4>Philip Rivers and the Colts</h4>
        <img src="../assets/images/philiobobby.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <h4>Hottest Tech in 2021</h4>
        <img src="../assets/images/tech.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <h4>Florida man strikes again</h4>
        <img src="../assets/images/mugshot.jpg" alt="">
    </div>
</div>