<div class="articles">
<div class="econArt">
    <h4>DOW Jones Heavy Hitters For November</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="econArt">
    <h4>Crypto Hits All Time High</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="econArt">
    <h4>NIO bound for greatness</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem isum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="econArt">
    <h4>These 5 Stocks are Guaranteed to beat the S&P500</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="econArt">
    <h4>These 4 Investors sold out of this stock</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
<div class="econArt">
    <h4>Real Estate in 2021</h4>
    <img src="assets/images/stcks.jpg" alt="stock image" />
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolorum ducimus pariatur excepturi, exercitationem distinctio.</p>
</div>
</div>