<div class="weatherContain">
    <div class="weatherCard">
        <div class="city">Sydney</div>
        <div class="country">AU</div>
        <img src="assets/images/01d@2x.png" alt="weatherIcon">
        <div class="temp">12<span>°C</span></div>
        <div class="condition">sunny</div>
    </div>    
    <div class="weatherCard2">
        <div class="city">Brisbon</div>
        <div class="country">AU</div>
        <img src="assets/images/04d@2x.png" alt="weatherIcon">
        <div class="temp">1<span>°C</span></div>
        <div class="condition">cloudy</div>
    </div>    
    <div class="weatherCard">
        <div class="city">Sydney</div>
        <div class="country">AU</div>
        <img src="assets/images/09d@2x.png" alt="weatherIcon">
        <div class="temp">8<span>°C</span></div>
        <div class="condition">thunderstorms</div>
    </div>    
    <div class="weatherCard2">
        <div class="city">London</div>
        <div class="country">UK</div>
        <img src="assets/images/10d@2x.png" alt="weatherIcon">
        <div class="temp">-1<span>°C</span></div>
        <div class="condition">light showers</div>
    </div>
</div>